/* body{
    background-color: red;
} */
/* navigation section */

#navbar{
    flex-direction: column;

}
navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px ;
    padding-bottom: 8px;
}

navbar ul{
    align-items: center;
}

/* home section */
#home{
    height: 446px;
    padding: 20px 10px;
}

#home::before{
    height: 500px;
}

#home p{
    font-size: 13px;
}



/* service section */
#services{
    flex-direction: column;
}


/* client section */
#clients{
    flex-wrap: wrap;
}

#client img{
    width: 55px;
    padding: 02px 2px;
}

/* contact us section */
#contact-box form{
    width: 80%;
}

/* footer */



/* utilitty classes */
.h-primary{
    font-size:26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}